@font-face
{
    font-family: "Merriweather";
    src: url("./fonts/Merriweather-Regular.otf") format("opentype");
}

body, div, html, header, footer, main
{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3
{
    font-family: 'Merriweather';
}

a
{
    color: #81A4CD;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

header a 
{
    color: black;
    text-decoration: none;
}